In [1]:
"""Q1. What is a database? Differentiate between SQL and NoSQL databases.
Answer:-A large amount of data which is stored in computer and can be easily use to do some manipualtion in database.
Difference between sql and No sql:-
Sql:- 
1.Databases are categorized as Relational Database Management System 
2.These databases have fixed or static or predefined schema
3.These databases are not suited for hierarchical data storage.
No sql:-
1.NoSQL databases are categorized as Non-relational or distributed database system
2. They have dynamic schema
3.These databases are best suited for hierarchical data storage."""

'Q1. What is a database? Differentiate between SQL and NoSQL databases.\nAnswer:-A large amount of data which is stored in computer and can be easily use to do some manipualtion in database.\nDifference between sql and No sql:-\nSql:- \n1.Databases are categorized as Relational Database Management System \n2.These databases have fixed or static or predefined schema\n3.These databases are not suited for hierarchical data storage.\nNo sql:-\n1.NoSQL databases are categorized as Non-relational or distributed database system\n2. They have dynamic schema\n3.These databases are best suited for hierarchical data storage.'

In [2]:
"""Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Answer:- DDL stands for data definition language. It changes the structure of the table like creating a table, deleting a table, altering a table, etc
Create:- It is used to create a new table in the database
Drop:-It is used to delete both the structure and record stored in the table.
Alter:-It is used to alter the structure of the database. This change could be either to modify the characteristics of an existing attribute or probably to add a new attribute.
Truncate:-It is used to delete all the rows from the table and free the space containing the table."""

'Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.\nAnswer:- DDL stands for data definition language. It changes the structure of the table like creating a table, deleting a table, altering a table, etc\nCreate:- It is used to create a new table in the database\nDrop:-It is used to delete both the structure and record stored in the table.\nAlter:-It is used to alter the structure of the database. This change could be either to modify the characteristics of an existing attribute or probably to add a new attribute.\nTruncate:-It is used to delete all the rows from the table and free the space containing the table.'

In [3]:
"""Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Answer:-DML stands for data manipulation language. DML commands are used to modify the database. It is responsible for all form of changes in the database.
Insert:-The INSERT statement is a SQL query. It is used to insert data into the row of a table.
Update:-This command is used to update or modify the value of a column in the table.
Delete:-It is used to remove one or more row from a table."""

'Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.\nAnswer:-DML stands for data manipulation language. DML commands are used to modify the database. It is responsible for all form of changes in the database.\nInsert:-The INSERT statement is a SQL query. It is used to insert data into the row of a table.\nUpdate:-This command is used to update or modify the value of a column in the table.\nDelete:-It is used to remove one or more row from a table.'

In [4]:
"""Q4. What is DQL? Explain SELECT with an example.
Answer:- An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria. The syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2='value';
"""

"Q4. What is DQL? Explain SELECT with an example.\nAnswer:- An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria. The syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2='value';\n"

In [5]:
"""Q5. Explain Primary Key and Foreign Key.
Answer:-Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
Foreign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. """

'Q5. Explain Primary Key and Foreign Key.\nAnswer:-Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. \nForeign Key: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. '

In [6]:
"""Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Answer:- import mysql.connector
         mydb=mysql.connector.connect(
         host="localhost"
         user="abd"
         password="password"
         )
         cursor():- It is used as a pointer in database . To point the data in the database
         execute():- this method used to execute a mysql query in python
         
         """

'Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.\nAnswer:- import mysql.connector\n         mydb=mysql.connector.connect(\n         host="localhost"\n         user="abd"\n         password="password"\n         )\n         cursor():- It is used as a pointer in database . To point the data in the database\n         execute():- this method used to execute a mysql query in python\n         \n         '

In [ ]:
"""Q7. Give the order of execution of SQL clauses in an SQL query.
Answer :- First, From will run, then after that second w"""